<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<title>Rule based</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
    <h1>Dos and Probing Attack Classifier</h1>
    <h2>Please provide your server log</h2>
    <form action="." method="POST">
        <input type="file" name="serverlog">
        <input type="submit" name="my-form" value="Send">
    </form>
</body>
</html>